<div class="tituloListas">
    <h1>Excluir pedido</h1>
  </div>
  <form>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" placeholder="Data" name="data" [(ngModel)]="pedido.data">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cliente</mat-label>
          <mat-select matNativeControl disabled id="cliente" required name="cliente" [(value)]="pedido.cliente.id">
            <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
              {{cliente.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>  
        <mat-form-field>
          <mat-label>Produto</mat-label>
          <mat-select matNativeControl disabled id="produto" required name="produto" [(value)]="pedido.produto.id">
            <mat-option *ngFor="let produto of produtos" [value]="produto.id">
              {{produto.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Valor" name="valor" [(ngModel)]="pedido.valor">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="btnMyFood" (click)="excluirPedido()" color="warn">Confirmar</button>
        <button mat-raised-button class="btnMyFood" routerLink="/pedidos">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </form>
  
