<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        <p>
        Gerencie o seu negocio e saiba sua receita!
        </p>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <p>
        Esse programa é utilizado para você que tem problemas em gerenciar suas finanças e saber quanto seu negocio está rendendo por mês.
        Pois entendemos a sua dor, e queremos ajudar a você a perceber quais são os seus maiores gastos e quais são as suas maiores vendas tambem, mostramos quando está entrando no caixa.
        </p>
    </mat-card-subtitle>
</mat-card>
