<h1>Lista de pedidos</h1>
 
 <table mat-table [dataSource]="pedidos" >

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Nº Pedido </th>
    <td mat-cell *matCellDef="let pedidos"> {{pedidos.id}} </td>
  </ng-container>

  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let pedidos"> {{pedidos.data | date : 'short'}} </td>
  </ng-container>

  <ng-container matColumnDef="cliente">
    <th mat-header-cell *matHeaderCellDef> Cliente </th>
    <td mat-cell *matCellDef="let pedidos"> {{pedidos.cliente}} </td>
  </ng-container>

  <ng-container matColumnDef="rua">
    <th mat-header-cell *matHeaderCellDef> Rua </th>
    <td mat-cell *matCellDef="let pedidos"> {{pedidos.rua}} </td>
  </ng-container>

  <ng-container matColumnDef="numero">
    <th mat-header-cell *matHeaderCellDef> Número </th>
    <td mat-cell *matCellDef="let pedidos"> {{pedidos.numero}} </td>
  </ng-container>

  <ng-container matColumnDef="bairro">
    <th mat-header-cell *matHeaderCellDef> Bairro </th>
    <td mat-cell *matCellDef="let pedidos"> {{pedidos.bairro}} </td>
  </ng-container>

  <ng-container matColumnDef="cidade">
    <th mat-header-cell *matHeaderCellDef> Cidade </th>
    <td mat-cell *matCellDef="let pedidos"> {{pedidos.cidade}} </td>
  </ng-container>

  <ng-container matColumnDef="produtos">
    <th mat-header-cell *matHeaderCellDef> Produtos </th>
    <td mat-cell *matCellDef="let pedidos"> {{pedidos.produtos}} </td>
  </ng-container>

  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef> Valor (R$)</th>
    <td mat-cell *matCellDef="let pedidos"> R${{pedidos.valor}}</td>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td class="ultima-coluna" mat-cell *matCellDef="let pedidos">
      <button mat-flat-button routerLink="/pedidos/editar/{{ pedidos.id }}" color="primary"> <i class="material-icons">edit</i></button>
      <button mat-flat-button routerLink="/pedidos/excluir/{{ pedidos.id }}" color="warn"> <i class="material-icons">delete</i></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colunas"></tr>
  <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
</table>

<button  mat-flat-button routerLink="/pedidos/incluir" color="accent">
  <i class="material-icons">add</i>Novo Pedido</button>


  