<mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel>Data</ng-template>
      <ng-template matStepContent>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data</mat-label>
            <input matInput [(ngModel)]="pedido.data" name="data">
          </mat-form-field>
          <br>
        <button mat-button matStepperNext>Próximo</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Nome</ng-template>
      <ng-template matStepContent>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="pedido.nome" name="nome">
          </mat-form-field>
          <br>
          <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Próximo</button>
      </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Endereço</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Rua</mat-label>
              <input matInput [(ngModel)]="pedido.rua" name="rua">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Número</mat-label>
                <input matInput [(ngModel)]="pedido.numero" name="numero">
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Bairro</mat-label>
                <input matInput [(ngModel)]="pedido.bairro" name="bairro">
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Cidade</mat-label>
                <input matInput [(ngModel)]="pedido.cidade" name="cidade">
              </mat-form-field>
              <br>
            <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Próximo</button>
        </ng-template>
      </mat-step>
    <mat-step>
        <ng-template matStepLabel>Produtos</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Produtos do pedido</mat-label>
            <textarea matInput [(ngModel)]="pedido.produtos" name="produtos"></textarea>
          </mat-form-field>
          <br>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Próximo</button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Valor</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Valor total do pedido (R$)</mat-label>
            <input matInput [(ngModel)]="pedido.valor" name="valor">
          </mat-form-field>
          <br>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Próximo</button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
        <ng-template matStepContent>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Valor total do pedido (R$)</mat-label>
          </mat-form-field>
          <br>
          <button mat-button  routerLink="/pedidos">Cancelar</button>
          <button mat-button matStepperNext (click)="atualizarPedido()">Concluir</button>
        </ng-template>
      </mat-step>
      
  