<div class="tituloListas">
    <h1>Excluir despesa</h1>
  </div>
  <form>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" placeholder="Nome" name="nome" [(ngModel)]="despesa.nome">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Descrição" name="descricao" [(ngModel)]="despesa.descricao">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Preço" name="preco" [(ngModel)]="despesa.preco">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="btnMyFood" (click)="excluirDespesa()" color="warn">Confirmar</button>
        <button mat-raised-button class="btnMyFood" routerLink="/despesas">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </form>
  