<mat-stepper orientation="vertical">
  <mat-step>
    <ng-template matStepLabel>Data</ng-template>
    <ng-template matStepContent>
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Data</mat-label>
          <input matInput [(ngModel)]="pedido.data" name="data">
        </mat-form-field>
        <br>
      <button mat-button matStepperNext>Próximo</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Cliente</ng-template>
    <ng-template matStepContent>
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cliente</mat-label>
          <mat-select matNativeControl id="cliente" required name="cliente" [(ngModel)]="pedido.cliente.id">
            <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
              {{cliente.nome}}
            </mat-option>
          </mat-select>  
        </mat-form-field>
        <br>
        <button mat-button matStepperPrevious>Voltar</button>
      <button mat-button matStepperNext>Próximo</button>
    </ng-template>
  </mat-step>
    <mat-step>
      <ng-template matStepLabel>Produto</ng-template>
      <ng-template matStepContent>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Produto</mat-label>
            <mat-select matNativeControl id="produto" required name="produto" [(ngModel)]="pedido.produto.id">
              <mat-option *ngFor="let produto of produtos" [value]="produto.id">
                {{produto.nome}}
              </mat-option>
            </mat-select>  
          </mat-form-field>
          <br>
          <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Próximo</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Valor</ng-template>
      <ng-template matStepContent>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Valor total do pedido (R$)</mat-label>
          <input matInput [(ngModel)]="pedido.valor" name="valor">
        </mat-form-field>
        <br>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Próximo</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <ng-template matStepContent>
        <button mat-button  routerLink="/pedidos">Cancelar Pedido</button>
        <button mat-button matStepperNext (click)="salvarPedido()">Concluir</button>
      </ng-template>
    </mat-step>